@font-face {
  font-family: TexGyreA;
  src: url("../res/font/texgyreadventor-regular.otf");
}

* {
  font-family: TexGyreA;
}


.navbar {
  background: transparent;
  transition: 0.5s;
}

.white {
  backdrop-filter: blur(60px);
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 15px #4f4f4f;
}

@-webkit-keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
  .hvr-ripple-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-in:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  border-radius: 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.hvr-ripple-in:hover:before, .hvr-ripple-in:focus:before, .hvr-ripple-in:active:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}

.hvr-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-white:before {
  content: '';
  position: absolute;
  border: rgba(0, 0, 0, 0.32) solid 4px;
  border-radius: 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.hvr-white:hover:before, .hvr-white:focus:before, .hvr-white:active:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}

.nav-link:hover {
background: rgba(255, 255, 255, 0.47);
border-radius: 7px;
}

.whitetext {
  color: #4f4f4f !important;
}

.hider {
  background-image: url('../res/polonez.jpg');
  background-size: 300vh;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 15px #4f4f4f;
}

.autko {
  display: none;
  height: 12rem;
}

.navbar {
  box-shadow: 0 0 5px;
}

.profile {
  margin: 150px;
  width: 100vw;
}

.card-body.flex {
  display: flex;
}

.userimage {
  width: 4vh;
  height: 4vh;
  display: flex;
  border-radius: 5px;
}

.container1 {
  position: relative;
}

.overlay {
  position: absolute;
  align-self: center;
  height: 70px;
  width: 70px;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
  border-radius: 4px;
  top: 0;
}

.container1:hover .overlay {
  opacity: 1;
}

.icon {
  color: indygo;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.fa-cloud-arrow-up:hover {
  color: indygo;
}

.dropdown-menu {
  right: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.send-form {
  box-shadow: none;
}

.user {
  cursor: pointer;
}

#myInput {
  margin-left: 15px;
  margin: 10px;
  width: 20vw;
  height: 6vh;
}

.container.float-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.lista {
  display: none;
  margin: 10px;
  margin-top: 9vh;
  padding: 0;
  transition: 2s;
  width: 20vw;
  position: absolute;
  z-index: 100;
  box-shadow: 0 0 10px #4f4f4f;
  max-height: 50vh;
  display: none;
  overflow-y: scroll;
}

.receiver {
  cursor: pointer;
  margin: 10px;
  height: 6vh;
  padding: 15px;
  align-items: center;
  flex-direction: row;
}

.float-right {
  float: right;
}

.message {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  box-shadow: 0 0 5px #4f4f4f;
}

.message-from {
  color: white;
}

.message-to {
  background: white;
  color: black;
  margin-left: auto;
}

.message-box {
  bottom: 0;
height: 100%;
overflow-y: auto;
overflow-x: auto;
max-height: 65vh;
}

.userimage-list {
  width: 2vw;
  height: 2vw;
  display: flex;
  border-radius: 5px;
}

.userlist {
  display: flex;
  cursor: pointer;
}

.userlist:hover {
  background: var(--bs-blue);
  color: #fff;
}

.userlist:hover .user-a {
  color: #fff;
}

.user-a {
  background: transparent;

}

.user-a:hover {
}

.page {
  flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    max-height: 100vh;
}

.kontener {
  flex-direction: column;
  height: 100%;
}

.message-box-center {
  width: 100%;
}

.username-label {
  margin: 0;
}
