@font-face {
  font-family: TexGyreA;
  src: url("res/font/texgyreadventor-regular.otf");
}

* {
  font-family: TexGyreA;
}
.hider {
  background-image: url('res/polonez.jpg');
      top: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      height: 100%
}

.blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  vertical-align: middle;
  display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 15px #4f4f4f;
}

.autko {
  display: none;
  height: 12rem;
  filter: drop-shadow(0 0 6px black);
}

.navbar {
  box-shadow: 0 0 5px;
}

.page {
  flex-direction: column;
    height: 100vh;
    padding: 0;
}

.body {
  flex-direction: column;
    padding: 0;
}

.divider {
  padding: 40px;
}
