@font-face {
  font-family: TexGyreA;
  src: url("../res/font/texgyreadventor-regular.otf");
}

* {
  font-family: TexGyreA;
}

.navbar {
  transition: 0.5s;
}

.white {
  backdrop-filter: blur(60px);
  background: rgba(255,255,255,0.7) !important;
  box-shadow: 0 0 15px #4f4f4f;
}

@-webkit-keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
  .hvr-ripple-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-in:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  border-radius: 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.hvr-ripple-in:hover:before, .hvr-ripple-in:focus:before, .hvr-ripple-in:active:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}

.hvr-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-white:before {
  content: '';
  position: absolute;
  border: rgba(0, 0, 0, 0.32) solid 4px;
  border-radius: 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.hvr-white:hover:before, .hvr-white:focus:before, .hvr-white:active:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}

.nav-link:hover {
background: rgba(255, 255, 255, 0.47);
border-radius: 7px;
}

.whitetext {
  color: white !important;
}

.navbar {
  background: transparent;
  transition: 0.5s;
}

.body {
  flex-direction: column;
    padding: 0;
}

.page {
  height: 100vh;
  background-size: cover;
}

.daewoo {
    background-image: url('../res/nexia.jpg');
    }

.d-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    vertical-align: middle;
    display: flex;
      height: 100%;

}

.nexia {
  background-image: url('../res/nexia-2.jpeg');
}

.slogan {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.offer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nexia-logo {
  width: 10vw;
}

.car-offer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.nexia-car-offer {
  width: auto;
  height: 50vh;
}

.desc {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: white;
}

.color-chooser {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.color-chooser > div {
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  margin: 5px;
  border: 1px solid white;
}

.c-77l {
  background-color: #731724;
}

.c-41l {
  background-color: #08423f
}

.c-91l {
  background-color: #bec2c6
}

.c-21u {
  background-color: #1d5689
}

.c-64l {
  background-color: #d4ccc0
}

.daewoo-logo {
  width: auto;
  height: 13vh;

}

.slogan-text {
  color: white;
  font-size: 3rem;
  text-decoration: none;

}

a, a:hover {
  color: inherit;
  text-decoration: none;
}
